/*index.html*/
#indexBody {
  /*background-image: url("../images/frontImage3.jpg");
  max-width:100%
  height: 100%;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  /*background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;*/
}

#indexHeader {
  color:white;
  text-align: center;
  font-family:'Lato';
  font-weight: 100;
  font-size: 14px;
}

#f41 {
  font-family: 'Courgette', cursive;
  font-size: 50px;
}


/*help page*/
#helpBody {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 5vw;
}

#helpHead {
  font-family: 'Lato';
  font-size: 7vw;
  color: #68c3d2;
}

/*general styling*/
#navbar {
  /*background-color: #52b7cd;*/
  background: linear-gradient(to top right, #52b7cd, #a5cbcc); /* Standard syntax */
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.fa {
  padding: 1vw;
}

#card-col, #card-container {
   padding-right: 0px;
   padding-left: 0px;
}

.card {
  width: 100%;
  height: 100px;
  /*background: #ebf7f9;*/
}

#l {
  color: #52b7cd;
}

#add {
    display: inline-block;
    width: 100%;
}

#condition-heading {
  text-align: center;
}

.select2-multiple {
    width: 100%;
}

#bottom-nav-bar {
  background: linear-gradient(to top right, #68c3d2, #a5cbcc); /* Standard syntax */
}

#bottom-nav-bar a {
  background: linear-gradient(to top right, #68c3d2, #a5cbcc); /* Standard syntax */
  color: white;
  /*font-family: 'Open Sans', sans-serif;*/
}

/*dashboard styling*/
#dashboardBody {
  /*background: radial-gradient(white, #fcfcfc, #f2f2f2);*/
  background: #f4f4f4;
}

/*DARKENS SELECTED DASHBOARD OR PROFILE*/
/*#dashButton, #profileButton {
  background: linear-gradient(to top right, #4ebaca, #68c3d2);
  border-radius: 5px;
  text-align: center;
}*/

#iconContainer {
  width: 40vw;
  text-align: center;
  color: white;
}

#dashButton_prof{
   color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
 }

#otherButton {
  text-align: center;
}

#cards, #add {
  /*background: radial-gradient(#d8f0f3, #c4e8ed, #b0e0e8);*/
}

#profpic {
  /*background: ./images/profpic.jpg 50% 50% no-repeat;*/
  width: 75%;
  /*height: 250px;*/
}

#profpic-a {
  width: 50%;
}

#editname, #saveChanges, #editEmail {
  /*border: 1px;*/
  border-width: 1px;
  border-color: dark-grey;
}

/*Information pages styling*/
#myTab {
  /*background: linear-gradient(to top right, #68c3d2, #a5cbcc); /* Standard syntax */
  border-width: thin;
  border-color: #68c3d2
}

#myTab .nav-item a {
    color: #68c3d2;
}

/*.tab-pane {
  font-family: 'Lato';
}*/
